<div id="lenddo_verify"></div>
<!-- based on https://partners.lenddo.com/create_button_code -->
<script async type="text/javascript">
  var LenddoVerifyConfig = {
    action: '{{ mode }}',
    scriptId: '{{ partnerScriptId }}',
    clientId: '{{ clientId }}',
    name: '{{ buttonType }}',
    fb_redirect: {{ fbRedirect }},
    verificationFields: {
      /* sample verification field values */
      firstname:  '{{ verificationFields.firstName }}',
      middlename: '{{ verificationFields.middleName }}',
      lastname: '{{ verificationFields.lastName }}',
      birthdate: '{{ verificationFields.birthDate }}',
      email: '{{ verificationFields.email }}',
      employer: '{{ verificationFields.employer }}',
      mobilephone: '{{ verificationFields.mobileNumber }}',
      university: '{{ verificationFields.university }}'
    },
    onSubmit: function(cb) {
      var errors = false;
      if (errors === false) {
        cb();
      }
    }
  };

  (function() {
    var la = document.createElement('script');
    la.type = 'text/javascript';
    la.async = true;
    la.src = 'https://authorize.partner-service.link/verify.js?v=' + Date.now();
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(la, s);
  })();
</script>
